$theme-colors: (
    "primary": #17252A,
    "secondary": #2B7A78,
    "tertiary": #2196F3
);

$body-bg: #F7CAC9;

//------------------------------

$enable-rounded: false;
$enable-gradients: true;

/* Custom CSS*/

html {
  height: 100%;
  body {
    padding-top: 56px;
    height: inherit;
    .container {
      min-height: 100vh;
    }
  }
}
